.lista_container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.tareas {
  font-size: 20px;
  font-weight: 500;
  max-height:500px;
  overflow-y: auto
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 4px -2px #896C6C;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
}

.items:hover{
  box-shadow: 1px 1px 6px -1px #6a5151;
  cursor: pointer;
}

.items > button {
  color: red;
  transition: all 0.3s ease-in-out;
}

.items > button:hover {
  color: rgb(173, 0, 0);
}

.editando {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editando > button {
  margin: 0 5px;
  display: flex;
  color: #40ef63;
  transition: all 0.3s ease-in-out;
}

.editando > button:hover {
  color: #22a53d;
}

.editando > input {
  border: none;
  border-radius: 50px;
  background: transparent;
  padding: 10px;
  box-shadow: 1px 1px 5px -2px #705C53;
  margin: 0 10px;
}

.editando > select {
  border: none;
  border-radius: 20px;
  background: transparent;
  padding: 10px;
  box-shadow: 1px 1px 5px -2px #705C53;
  margin: 0 10px;
}

button {
  cursor: pointer;
  background: transparent;
}

.noEditando {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.noEditando > span {
  display: flex;
  align-items: center;
  margin-right: 10px
}

.noEditando > button {
  color: #268adb;
  transition: all 0.3s ease-in-out;
}

.noEditando > button:hover {
  color: #166db4;
}

.tareas::-webkit-scrollbar {
  width: 12px;
}

.tareas::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.tareas::-webkit-scrollbar-track {
  background-color: #eee;
}